html,
body,
form {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  pointer-events: auto;
  justify-content: center;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}

.action-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.action-button {
  background-clip: padding-box;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-color: #333;
  border-radius: 6px;
  box-sizing: border-box;
  color: #333;
  display: block;
  flex-shrink: 0;
  font-size: 11px;
  font-weight: 400;
  grid-column-end: span 26;
  grid-column-start: 2;
  height: 32px;
  justify-content: center;
  line-height: 30px;
  padding: 0 15px;
  text-align: center;
  width: 100%;
}

.action-button-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  box-sizing: border-box;
  color: #b3b3b3;
  font-family: "Inter", sans-serif;
  font-feature-settings: "liga" on, "calt" on;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  max-width: 310px;
  padding-bottom: 20px;
}

.container .form {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 10px 10px 0;
}

.container .branding {
  align-items: center;
  color: #333;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
}

.container p {
  padding: 0;
  margin: 0;
}

.fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form {
  display: flex;
  flex-direction: column;
}

.calculation-label {
  align-items: center;
  border: 1px solid transparent;
  display: flex;
}

.calculation-label span {
  display: inline-block;
  margin-left: -1px;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  flex: 0 0 32px;
  line-height: 32px;
  color: #b3b3b3;
  fill: #b3b3b3;
  grid-column-end: span 4;
  pointer-events: none;
  text-align: center;
}

.calculation-label:not(:disabled):hover,
.calculation-label:not(:disabled):focus-within {
  border: 1px solid rgba(0, 0, 0, 0.1);
  user-select: none;
}

input.calculation {
  border: 0;
  color: #333;
  font-size: 11px;
  height: 32px;
  width: 100%;
}

input.calculation:focus {
  outline: transparent;
}

section {
  border-top: 1px solid #e5e5e5;
  margin-top: 20px;
  padding: 20px 20px 0;
}
